<a href="{{ product.url }}" style="padding:10px;border:1px solid #333;display:block;margin-bottom:20px">
    <div>{{ product.title }}</div>
    <div>{{ product.price | money }}</div>
    {% comment %} <div>{{ product.description }}</div> {% endcomment %}
  </a>