<!doctype html>
<html class="supports-no-js" lang="{{shop.locale}}">
  <head>
    <meta charset="UTF-8">
    <title>
      {{ shop.name }}
    </title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    {{ content_for_header }}sss
  </head>
  <body>
    <!-- 这里必须引入，不然 page.xxx.liquid配置的section不能正常显示对应的配置 -->
    {{ content_for_layout }}
  </body>
</html>
