<header>
  {% comment %} <div class="shop-name">{{ shop.name }}</div> {% endcomment %}
  {% schema %}
{
  "name": "menu",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "Menu",
      "default": "main-menu"
    }
  ]
}
  {% endschema %}

  <div class="header">
    <div class="nav">
      {% for item in section.settings.menu.links %}
        <a class="nav-item" href="{{item.url}}">{{ item.title }}</a>
      {% endfor %}
    </div>

    {% if settings.show_search %}
      <form class="search" action="/search">
        <input type="search" name="q" placeholder="search">
        <button type="submit" hover-class="button-hover">search</button>
      </form>
    {% endif %}
  </div>
</header>
