{% schema %}
{
  "name": "index11",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "default": "text",
      "id": "text",
      "label": "text"
    }
  ],
  "presets": [
    {
      "name": "test-one",
      "settings": {
        "text": "test-one"
      }
    },
    {
      "name": "test-two",
      "settings": {
        "text": "test-two"
      }
    }
  ]
}
{% endschema %}
<div>{{ section.settings.text }}</div>
