{% schema %}
{
  "name": "index11",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "default": "text",
      "id": "text",
      "label": "text"
    }
  ],
  "presets": [
    {
      "name": "test"
    }
  ]
}
{% endschema %}
<div>{{ section.settings.text }}</div>
