{% comment %} {% layout 'theme' %} {% endcomment %}

<h1>All Collections</h1>

{% if collections.size > 0 %}
  <ul>
    {% for collection in collections %}
      <li>
        <a href="{{ collection.url }}">{{ collection.title }}</a>
        <p>{{ collection.description | truncate: 300 }}</p>
        <span> all_products_count: {{collection.all_products_count}}</span>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No collections found.</p>
{% endif %}
